<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RegistrationModule</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registrationServlet</display-name>
    <servlet-name>registrationServlet</servlet-name>
    <servlet-class>com.registration.registrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationServlet</servlet-name>
    <url-pattern>/registrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerServlet</display-name>
    <servlet-name>customerServlet</servlet-name>
    <servlet-class>com.bank.controller.customerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerServlet</servlet-name>
    <url-pattern>/customerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bankServlet</display-name>
    <servlet-name>bankServlet</servlet-name>
    <servlet-class>com.bank.controller.bankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bankServlet</servlet-name>
    <url-pattern>/bankServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.bank.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.bank.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_controller</display-name>
    <servlet-name>Admin_controller</servlet-name>
    <servlet-class>com.bank.controller.Admin_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_controller</servlet-name>
    <url-pattern>/Admin_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRequestServlet</display-name>
    <servlet-name>CustomerRequestServlet</servlet-name>
    <servlet-class>com.bank.controller.CustomerRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRequestServlet</servlet-name>
    <url-pattern>/CustomerRequestServlet</url-pattern>
  </servlet-mapping>
  <error-page>
  <error-code>404 </error-code>
  <location>/jsp/Error.jsp</location>
  </error-page>
</web-app>